html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

.parent {
  display: flex;
  font-size: 3rem;
  justify-content: space-between;
}

.child {
  border: 1px solid chocolate;
  width: 33.33%;
}
