html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Bebas Neue", cursive;
  color: greenyellow;
}
h1 {
  font-size: 5rem;
  text-align: center;
}

.Flexbox {
  display: flex;
  flex-wrap: wrap;
  font-size: 5rem;
  justify-content: space-evenly;
}

.Card {
  text-align: center;
  border: 5px solid black;
  width: 26%;
  margin: 5rem;
  box-shadow: black 2rem 2rem 2rem;
  transition: 0.5s;
}

#Card-1:hover {
  transform: scale(1.2, 1.2);
}
#Card-2:hover,
#Card-9:hover {
  transform: rotate(0.99turn);
}
#Card-3:hover,
#Card-8:hover {
  transform: skew(20deg, 20deg);
}
#Card-4:hover,
#Card-7:hover {
  transform: scale(0.5) translate(-100%, -100%);
}
#Card-5:hover,
#Card-6:hover {
  transform: matrix(1, 2, 3, 4, 5, 6);
}
.Card-Title {
  font-size: 4rem;
}

.Card-img {
  padding: 1rem 0 1rem 0;
  width: 95%;
}
.animation {
  height: 10rem;
  width: 10rem;
  position: absolute;
  animation-name: fish;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;

  color: red;
}

@keyframes fish {
  0% {
    left: 0%;
    bottom: -60%;
  }
  100% {
    left: 100%;
    bottom: -60%;
  }
}
@media (max-width: 1600px) {
  body {
    background-color: blue;
  }
}
@media (max-width: 1024px) {
  body {
    background-color: red;
    width: 100%;
  }
}
@media (max-width: 812px) {
  body {
    background-color: yellow;
  }
}
